<div class="conteudo">
  <p class="titulo">A sua central de receitas</p>
  <!-- <p class="descricao">Organizada de<br> acordo com os<br><span>ingredientes</span><br> que você tem a <br><span>disposição!</span></p> -->
  <p class="descricao">Organizada de acordo com os ingredientes<br> que você tem a disposição!</p>
  <button class="btn btn-dark landing-button border-0" (click)="irParaReceitas()">Ir para Receitas</button>
</div>

<div class="fundo">
  <div class="circulo-base c-amarelo"></div>
  <div class="circulo-base c-vinho"></div>
  <div class="circulo-base c-rosa"></div>
</div>
