h1, span{
  color: #254F5F;
}

:host ::ng-deep .p-fluid .p-inputtext{
  border-radius: 7px;
}

:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: rgba(227, 100, 20, 0.3);
}
:host ::ng-deep .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(227, 100, 20, 0.3);
  border-color: rgba(227, 100, 20, 0.6);
}

.login-card{
  width: 70vw;
  max-width: 1024px;
  height: 520px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.hrefs{
  font-weight: bold;
  color: #254F5F;
}

.separator{
  width: 12px;
  background-color: #BE6474;
}

.login-imagem{
  max-width: 460px;
  border-radius: 0 15px 15px 0;
}

@media (max-width: 1124px) {
  .separator, .login-imagem{
    display: none;
  }
}

@media (max-width: 768px) {
  .login-card{
    width: 90vw;
  }
}

.c-amarelo{
  --xpos-amarelo: calc(30vw + 90vh);
  clip-path: circle(80vh at max(var(--xpos-amarelo), 90vw) 50vh);
  background: linear-gradient(180deg, #FDD1A7 0, #EF8D30 120%);
}
.c-vinho{
  clip-path: circle(70vh at 30vw 135vh);
  background: linear-gradient(90deg, #5F0F40 0, #000000 76vw);
}
.c-rosa{
  clip-path: circle(30vh at 5vh -10vh);
  background: linear-gradient(180deg, #5F0F40 -5vh, #BE6474 20vh );
}
