<footer class="rodape d-flex justify-content-center">
  <div class="conteudo-rodape d-flex flex-row align-items-center justify-content-between">
    <div class="sections-rodape d-flex flex-row justify-content-between">
      <div class="section-rodape s-mobile">
        <label>Informações</label><br>
        <a href="">Quem somos</a><br>
        <a href="">Nossa missão</a><br>
        <a href="">Entre em contato</a><br>
        <a href="">Perguntas Frequntes</a><br>
        <a href="">Termos de Serviço</a>
      </div>
      <div class="section-rodape">
        <label>Recursos</label><br>
        <a href="">Home</a><br>
        <a href="">Minha conta</a><br>
        <a href="">Perguntas Frequntes</a><br>
        <a href="">Termos de Serviço</a>
      </div>
      <div class="section-rodape">
        <label>Sobre</label><br>
        <a href="">Quem somos</a><br>
        <a href="">Nossa missão</a><br>
        <a href="">Entre em contato</a>
      </div>

    </div>
    <div class="logo-rodape">
      <img  height="70px" src="/assets/logo-light.png"/>
    </div>
  </div>
  <div class="circulo-rodape"></div>
</footer>
<div class="direitos-rodape">
  © 2021 Panem. Todos os direitos reservados.
</div>
