.pagina-base-imagem {
  background: url("/assets/imagem-consulta-receita.jpg");
}

.apresentacao {
  color: rgb(15, 76, 92);
  justify-content: center;
  text-align: center;
}

:host ::ng-deep .p-dropdown:not(.p-disabled):hover{
  border-color: rgba(227, 100, 20, 0.6);
}

:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus{
  box-shadow: 0 0 0 0.2rem rgba(227, 100, 20, 0.2) !important;
  border-color: rgba(227, 100, 20, 0.6);
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
  background: rgba(227, 100, 20, 0.2);
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  background: rgba(227, 100, 20, 0.2);
  border-color: rgba(227, 100, 20, 0.2);
  color: #495057;
}

button{
  background-color: transparent;
  border: none;
  color: rgb(95, 15, 64);
}

button:hover{
  background-color: #C26878;
}

.c-amarelo {
  clip-path: circle(80vh at 110vw 50vh);
  background: linear-gradient(180deg, #fdd1a7 0, #ef8d30 120%);
}
.c-vinho {
  clip-path: circle(60vh at 15vw 135vh);
  background: linear-gradient(90deg, #5f0f40 0, #000000 76vw);
}
.c-rosa {
  clip-path: circle(30vh at 5vh -10vh);
  background: linear-gradient(180deg, #5f0f40 -5vh, #be6474 20vh);
}
